<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>Some Website</title>
	<!--<link href="stylesheet.css" rel="stylesheet" type="text/css"/>-->
</head>
<body>
	{{> header}}
	<p>Welcome Message: {{welcomeMessage}}</p>

	{{> footer}}
</body>
</html>