<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>Project Page</title>
	<!--<link href="stylesheet.css" rel="stylesheet" type="text/css"/>-->
</head>
<body>
	{{> header}}
	<p>These are all my glorious projects!</p>

	{{> footer}}
</body>
</html>
